.header {
  font-family: "Mifont";
  src: url("RubikStorm-Regular.ttf") format("truetype");
  font-size: large;
  padding: 30px;
  letter-spacing: 39%;
}
.head{
  padding: auto;
}
.form-container{
  /* Permalink - use to edit and share this gradient. Enlace permanente - úsalo para editar y compartir este gradiente: https://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
background: linear-gradient(to right,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.d-felx{
  background: linear-gradient(to right,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.carrousel-item{
  padding-left: 0%;
}

.navbar-nav{
  background-color: red ;
 
}
.nav-item {
  background: linear-gradient(to right, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff; /* Color de texto blanco */
  font-weight: bold; /* Letra en negrita gruesa */
}

.nav-link {
  color: #fff; /* Color de texto blanco para los enlaces del menú */
  font-weight: bold; /* Letra en negrita gruesa */
}

.nav-link:hover {
  color: #ccc; /* Color de texto gris claro al pasar el mouse */
}

.container-fluid{
  border: #f4b564;
}



.row {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; /* Invierte el orden de los elementos */
}

.col-md-8 {
  padding-left: 2rem; /* Cambia el padding a la izquierda */
  text-align: left; /* Alinea el texto a la derecha */
}

.col-md-4 img {
  max-width: 100%;
  height: auto;
}

.buttonPedidos {
padding: -10px ;
  color: rgb(202, 138, 28);

  background-color: #000000;
}

 .enviosTitle { 

  font-size: 10px;
 }

.text-white { 

    background-color: #8B4513; 

    padding: 10px 50px 20px; 
     font-family: "Edu AU VIC WA NT Dots", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-stretch: extra-condensed;
}
/* .menu{
    
} */


.nav{
    background-color: #fefdfd;
    margin: 0px;
   
    

}
.container.justify-content-center {
        display: flex;
        justify-content: center;
      }
      
.navbar-nav {
    list-style-type: none;
    font-weight: 400;
    margin-left: auto;
    padding: 0px;
    display: flex;
    align-content:  50%; ;
    background-color: #fefefe;
    font-family: "Mifont"; 
  src: url("RubikStorm-Regular.ttf") format("truetype");
  display: flex;
  flex-wrap: wrap; /* Los elementos se ajustan a varias líneas en pantallas pequeñas */
}
  
      
      .nav-item {
        margin-left: 1rem;
        flex: 1; /* Todos los ítems ocuparán el mismo ancho */
      }
      
    

      .body{
        margin: 0;
        padding: 0;
        position: fixed;
        color: #000;
      }

    
    /* Estilos para el carrusel */
    .carousel-item img {
    height: 500px;
    object-fit: cover;
    }
    
    /* Estilos para los productos */
    .card {
    border: none;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    margin: 0;
    padding: 0;
    }
    
    .card-title {
    font-size: 1.2rem;
    }
    
    /* Estilos para el formulario de suscripción */
    .form-control {
    border-radius: 0.25rem;
    }
    
  
    .container{
      font-family: "Mifont";
      src: url("RubikStorm-Regular.ttf") format("truetype");

    }
    .col-12{
     padding: 00px;
     margin: 0%s;;
     background: linear-gradient(to right, rgba(244,250,190,1) 0%,rgba(255,238,177,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    }
    
    .mi-clase {
      background: linear-gradient(to right, rgba(244,250,190,1) 0%,rgba(255,238,177,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  }
    
    
    /* Estilos para el footer */
    footer {
      background: linear-gradient(to right, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      color: #fff; /* Color de texto blanco */
    
    
    
    }
    
   